mixin interiors()
    .interiors
        .interiors__wrap.wrap
            .interiors__main
                h2.interiors__title.title-2 Интерьеры от <br> актуальных <br> европейских <br> дизайнеров
                    span.title-2__num 04
                .interiors__quote.quote
                    img(src="../assets/images/quote-1.svg")
                    p Мы изучали культурные коды Москвы, окружение проекта и контекст времени, что позволило сделать наши интерьеры органичным продолжением здания. Руководствуясь умным дизайном, были найдены оптимальные решения для всех зон в доме, чтобы сделать пространство объемным и приятным для жизни.
                    img(src="../assets/images/quote-2.svg")
                    span.quote__autor ЯСПАР ЯНСЕН И ЯРУН ДЕЛЛЕНСЕН   |    БЮРО АРХИТЕКТУРЫ ИНТЕРЬЕРА I29