mixin interiors-slider()
    .interiors-slider
        .interiors-slider__wrap
            .interiors-slider__main.slider
                .slider__slide
                    .slider__imgs
                        picture
                            source(srcset="../assets/images/interior-1.webp" type="image/webp")
                            img(src = "../assets/images/interior-1.jpg")
                        picture
                            source(srcset="../assets/images/interior-2.webp" type="image/webp")
                            img(src = "../assets/images/interior-2.jpg")
                        picture
                            source(srcset="../assets/images/interior-3.webp" type="image/webp")
                            img(src = "../assets/images/interior-3.jpg")
                        picture
                            source(srcset="../assets/images/interior-4.webp" type="image/webp")
                            img(src = "../assets/images/interior-4.jpg")
                    .slider__content
                        .slider__arrow.slider__arrow--prev
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon arrow-left" viewBox="0 0 100 100">
                                <g data-name="Слой 2">
                                    <g data-name="Слой 1">
                                        <rect class="cls-1" width="100" fill="#fff" height="100"></rect>
                                        <path d="M45.48,42.25a.77.77,0,0,1,1.1,0,.77.77,0,0,1,0,1.08l-5.91,5.9H61.21A.76.76,0,0,1,62,50a.77.77,0,0,1-.77.78H40.67l5.91,5.89a.77.77,0,1,1-1.1,1.09l-7.23-7.21a.75.75,0,0,1,0-1.08Z"></path>
                                    </g>
                                </g>
                            </svg>
                        .slider__info
                            span.slider__counter <font class="slider__counter--large">  </font> <font class="slider__counter--small"></font>
                            p.slider__text
                        .slider__arrow.slider__arrow--next
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon arrow-right" viewBox="0 0 100 100">
                                <g data-name="Слой 2">
                                    <g data-name="Слой 1">
                                        <rect class="cls-1" width="100" height="100" fill="#fff" transform="translate(100 100) rotate(-180)"></rect>
                                        <path d="M61.75,49.46a.75.75,0,0,1,0,1.08l-7.23,7.21a.77.77,0,0,1-1.1-1.09l5.91-5.89H38.79A.77.77,0,0,1,38,50a.76.76,0,0,1,.77-.76H59.33l-5.91-5.9a.77.77,0,0,1,0-1.08.77.77,0,0,1,1.1,0Z"></path>
                                    </g>
                                </g>
                            </svg>