mixin header()
    header.header
        div.header__wrap
            a.header__logo(href="#"): img(src="../assets/images/logo.svg")
            div.header__main
                nav: ul.header__menu
                        li.header__elem: a(href="").header__link Расположение
                        li.header__elem: a(href="").header__link Архитектура
                        li.header__elem: a(href="").header__link Апартаменты
                        li.header__elem: a(href="").header__link Отделка
                        li.header__elem: a(href="").header__link Технологии
                        li.header__elem: a(href="").header__link Инфраструктура
                        li.header__elem: a(href="").header__link Контакты
                .header__call
                    a.header__phone(href="tel:+74953207717") +7 (495) 320-77-17   
                    a.header__button-call заказать звонок
                //- .header__burger
                //-     - var n = 0;
                //-     while n < 3
                //-         - n++
                //-         span