.security
    padding 196px 0 70px
    position relative
    &::after
        position absolute
        content url(../../assets/images/contacts-lines.svg)
        top 400px
        right 100px
        width: 512px;
        height: 571px;
        z-index -1
        opacity .1
    &::before
        content url(../../assets/images/red-seven.svg)
        
        position absolute
        top 180px
        right 320px
        
        height 700px
        width 93px
    &__title
        margin-bottom 56px
        font-size 60px
        position relative
        &::before
            content url(../../assets/images/angle.png)
        
            position absolute
            top -70px
            transform rotate(180deg)
            right 200px
         &::after
            content url(../../assets/images/angle.png)
        
            position absolute
            bottom -210px
            left -75px
        @media(max-width 520px)
            font-size 40px
    &__text
        position relative
        z-index 100
        font 22px/30px 'Cera Pro Medium', sans-serif
        color white
        margin-bottom: 150px
        max-width 880px
    &__elems
        display grid
        grid-template-columns 1fr 1fr
        grid-gap 20px
        @media (max-width 760px)
            grid-template-columns 1fr
    &__btn
        margin 50px auto 0
        button-arrow(white, red, white)
        @media (max-width 470px)
            min-width 100%
            font-size 16px
    

.security-elem
    width 100%
    min-height 386px
    padding 68px 58px 0
    box-sizing border-box
    background light-black
    position relative
    transition all 0.5s ease-in-out
    @media (max-width 1100px)
        padding-bottom 40px
    @media (max-width 470px)
        padding 30px
    &:hover
        background white
        .security-elem__title
            color black
        .security-elem__text
            color black
        .security-elem__count
            opacity 0.2
    &:hover
        svg
            animation little-shake 0.8s cubic-bezier(.36,.07,.19,.97) both
            transform: translate3d(0, 0, 0);
    &__top
        display grid
        grid-template-columns 140px 1fr
        margin-bottom 32px
        @media (max-width 1100px)
            grid-template-columns 1fr
            grid-gap 20px
        @media (max-width 760px)
            grid-template-columns 140px 1fr
            grid-gap 0
        @media (max-width 470px)
            grid-template-columns 1fr
            grid-gap 20px
    &__title
        margin 0
        font 24px/30px 'Cera Pro Bold', sans-serif
        color white
        transition all 0.3s ease-in-out
    &__text
        font 17px/23px 'Cera Pro Regular', sans-serif
        color white
        transition all 0.3s ease-in-out
    &__count 
        font 13px/1 'Cera Pro Medium', sans-serif
        color #434344
        position absolute
        top 20px
        right 20px
        transition all 0.3s ease-in-out

.icon-security-1
    width 114px
    height 88px

.icon-security-2
    width 80px
    height 88px

.icon-security-3
    width 84px
    height 108px

.icon-security-4
    width 104px
    height 92px