mixin security()
    .security
        .security__wrap.wrap
            h2.security__title.title-2 Безопасность и комфорт <br> c технологией умного дома iRed
                span.title-2__num 05
            p.security__text <b>RED7</b> — это дом, в котором технологии работают естественно, незаметно <br> и безотказно. С момента подписания контракта Вы получите доступ <br> к приложению и сможете «управлять» своей квартирой с первых этапов строительства, а при заселении решать все вопросы с помощью смартфона.
            ul.security__elems
                li.security__elem.security-elem
                    .security-elem__top
                        img.security-1(src="../assets/images/posibilities-icons/1.svg")
                        h4.security-elem__title Безопасность обеспечивают технологии
                    p.security-elem__text Каждый из жильцов всегда под защитой благодаря круглосуточному режиму системы идентификации, охраны и видеонаблюдения. Устанавливать и изменять настройки квартиры Вы можете удаленно через мобильное приложение iRED.
                    span.security-elem__count 01
                li.security__elem.security-elem
                    .security-elem__top
                        img.security-2(src="../assets/images/posibilities-icons/2.svg")
                        h4.security-elem__title Панорамные <br> окна и повышенная <br> шумоизоляция
                    p.security-elem__text Окна европейского производства со светопрозрачной конструкцией выполнены с применением осветленного стекла с высокой светопропускающей способностью, а качественный алюминиевый профиль позволил создать комфорт и тишину внутри дома.
                    span.security-elem__count 02
                li.security__elem.security-elem
                    .security-elem__top
                        img.security-3(src="../assets/images/posibilities-icons/3.svg")
                        h4.security-elem__title Современные <br> системы очистки воды <br> и воздуха
                    p.security-elem__text Высокотехнологичные инженерные решения и оборудование позволяют забыть о том, что здание находится в самом центре современного мегаполиса. Система вентиляции и кондиционирования воздуха программируется удаленно с помощью приложения iRED.
                    span.security-elem__count 03
                li.security__elem.security-elem
                    .security-elem__top
                        img.security-4(src="../assets/images/posibilities-icons/4.svg")
                        h4.security-elem__title Автоматизация <br> услуг ЖКХ
                    p.security-elem__text Автоматическое снятие показаний приборов учета, контроль счетов и оплаты услуг ЖКХ. Online-передача показаний счетчиков и доступ к истории показаний.
                    span.security-elem__count 04
            button.security__btn.btn-with-arrow Все возможности <span><i></i></span>


