mixin contacts()
    .contacts
        .contacts__main
            .contacts__wrap.wrap
                h4.contacts__title Офис продаж:
                p.contacts__text Москва, ул. Маши Порываевой, 34, БЦ Домников, этаж 10
                button.contacts__btn.btn-with-arrow Посетить офис продаж <span><i></i></span>
                a.contacts__phone(href="tel:+74953207717") <img src="../assets/images/contact-phone.svg"/>+7 495 320-77-17
        .contacts__map