.contacts
    background-color bg
    padding 140px 0 170px
    &__wrap
        position relative
        z-index 5
    &__main
        position relative
        &::before
            position absolute
            content url(../../assets/images/contacts-lines.svg)
            top -35%
            left 240px
            width 475px
            height 533px
            opacity .1
            z-index 0
    &__title
        color white
        font 34px/1 'Cera Pro Bold', sans-serif;
        margin-bottom 20px
    &__text
        color white
        font 25px/30px 'Cera Pro Regular', sans-serif
        margin-bottom 40px
        max-width 440px
    &__phone
        font 25px/1 'Cera Pro Medium', sans-serif
        color white
        text-decoration none
        transition all 0.2s
        img
            height 29px
            width 28px
            margin-right 14px
            margin-bottom -5px
        &:hover
            color red
    &__btn
        width 360px
        margin-bottom 30px