mixin offer()
    .offer
        .offer__wrap.wrap
            h2.offer__title.title-2 Роскошная жизнь <br> на Садовом
                span.title-2__num 07
            p.offer__text Покупка возможна в ипотеку и рассрочку. Узнайте подробнее о вариантах покупки.
            .offer__form
                .offer__left
                    h4.offer__subtitle Получить индивидуальное <br> предложение
                    p Мы свяжемся с вами и уточним все детали
                .offer__right
                    .offer__input-container
                        .offer__input
                            .offer__input-slider
                                form.offer__input-wrap
                                    input(type="text" name="name-2" placeholder="Укажите ваше имя")
                                    input(type="text" name='tel-2' id='tel-2' placeholder="Укажите ваш телефон")
                                    button(type="submit").offer__btn Позвоните мне
                                span Спасибо! <br> Наш менеджер скоро с Вами свяжется
                            span.offer__submit: svg: use(xlink:href="../../assets/sprites.svg#arrow-form")
                    span.offer__count <span class="offer__current">1 </span>  /  3
                    .offer__agree <span class="offer__checkbox"><img/></span> Даю своё согласие на обработку моих персональных данных
                    


