.apartments
    padding 176px 20px 100px
    background-color bg
    &__wrap
        width 100%
    &__title
        margin-bottom 26px
        @media(max-width 520px)
            font-size 40px
    &__text
        font 24px/35px 'Cera Pro Medium', sans-serif
        margin-bottom 50px
        color white
    &__slide
        display grid
        grid-template-columns 1.1fr 1fr
        width 100%
        height 510px
        @media(max-width 700px)
            grid-template-columns 1fr
            height auto
    &__slider
        position relative
    &__slides
        display none
    &__slides.active
        display block
    &__content
        background-color white
        padding 48px 50px 40px
        display flex
        flex-direction column
        justify-content space-between
        @media(max-width 520px)
            padding 20px
    &__row
        display grid
        margin-bottom 26px
        grid-template-columns 1fr 1fr
        font 18px/26px 'Cera Pro Bold', sans-serif
        span, li
            font 17px/26px 'Cera Pro Regular', sans-serif
            @media(max-width 520px)
                font-size 14px
        ul
            list-style none
            margin 0
        @media(max-width 520px)
            font-size 14px
    &__btn
        width 100%
    &__arrow
        align-self center
        display flex
        height 80px
        width 80px
        position absolute
        top 50%
        transform translate(0,-50%)
        z-index 10
        cursor pointer
        transition all 0.2s ease-in-out
        @media(max-width 700px)
            border: 0.5px solid light-gray
        @media(max-width 520px)
            height 40px
            width 40px
        &:last-child
            right -80px
            @media(max-width 1320px)
                right 0
                top 0
                transform translate(0,0)
        &:first-child
            left -180px 
            @media(max-width 1550px)
                left -80px
            @media(max-width 1320px)
                right 80px
                left auto
                top 0
                transform translate(0,0)
            @media(max-width 520px)
                right 40px
        &:first-child:hover
            transform translate(-5%,-50%)
            svg
                path
                    fill white
                .cls-1
                    fill red
            @media(max-width 1320px)
               transform translate(0,0)
        &:last-child:hover
            transform translate(5%,-50%)
            svg
                path
                    fill white
                .cls-1
                    fill red
            @media(max-width 1320px)
               transform translate(0,0)
        svg
            height 80px
            width 80px
            transition all 0.2s ease-in-out
            @media(max-width 520px)
                height 40px
                width 40px
    &__img
        background-color #333335
        display flex
        justify-content center
        align-items center
        img 
            height 90%
            width 90%
            object-fit cover
    &__btn 
        @media(max-width 500px)
            font-size 13px
            min-width auto

.tabs
    display flex
    margin-bottom 62px
    @media(max-width 720px)
        flex-wrap wrap
    @media(max-width 530px)
        display grid
        grid-template-columns 1fr 1fr
    @media(max-width 410px)
        display grid
        grid-template-columns 1fr
    &__tab
        background-color tab-bg
        color white
        border-radius 2px
        padding 16px 36px
        font 12px/1 'Cera Pro Regular', sans-serif
        cursor pointer
        margin-right 4px
        margin-bottom 10px
        text-transform uppercase
        letter-spacing 1px
        transition all 0.2s
        &:hover
            background-color lighten(tab-bg, 2)
    &__tab.active
        background-color white
        color black
        font 12px/1 'Cera Pro Bold', sans-serif
