mixin architecture()
    .architecture(id="architecture")
        .architecture__wrap.wrap
            .architecture__main
                h2.architecture__title.title-2 Архитектура
                    span.title-2__num 02
                .architecture__quote.quote
                    svg: use(xlink:href="././assets/sprites.svg#quote-1")
                    p «Модный, дерзкий, ошеломляющий дом <b> RED7 </b> приковывает к себе внимание яркой индивидуальностью, выходит за рамки привычного пространства и времени и существует сразу в семи измерениях».
                    svg: use(xlink:href="././assets/sprites.svg#quote-2")
                    span.quote__autor MVRDV   /    АРХИТЕКТУРНОЕ БЮРО