mixin location()
    .location
        .location__wrap.wrap
            .location__top
                h2.location__title.title-2 Расположение
                    span.title-2__num 01
                .location__quote.quote
                    img(src="../assets/images/quote-1.svg")
                    p <b> RED7 </b>- это современный конструктивизм, совершенно необычное здание для Москвы. Рядом Центрсоюз, построенный Ле Корбюзье, Минсельхоз Щусева. Все это создает ансамбль целостности места.
                    img(src="../assets/images/quote-2.svg")
                    span.quote__autor ОЛЕГ КЛОДТ   /   АРХИТЕКТУРНОЕ БЮРО ОЛЕГА КЛОДТА
            .location__main
                .location__advs
                    .location__elem
                        img(src="../assets/images/icons-1/1.svg")
                        .location__content
                            h4.location__subtitle.subtitle 2,4 км до Кремля
                    .location__elem
                        img(src="../assets/images/icons-1/loc-2.png")
                        .location__content
                            h4.location__subtitle.subtitle 10 минут
                            p от центрального рынка <br> с ресторанами и свежими продуктами
                    .location__elem
                        img(src="../assets/images/icons-1/loc-3.png")
                        .location__content
                            p В шаговой доступности Чистые пруды, <br> Цветной и Сретенский бульвары, <br> Сад «Аптекарский город»
                    button.location__btn.btn-with-arrow Перейти по карте <span><img src="../assets/images/arrow-right.png"/></span>
                .location__img
                    span.location__circle: span RED7
                    img(src="../assets/images/big-pin.png")