mixin location()
    .location(id="location")
        .location__wrap.wrap
            .location__top
                h2.location__title.title-2 Расположение
                    span.title-2__num 01
                .location__quote.quote
                    svg: use(xlink:href="../../assets/sprites.svg#quote-1")
                    p <b> RED7 </b>- это современный конструктивизм, совершенно необычное здание для Москвы. Рядом Центрсоюз, построенный Ле Корбюзье, Минсельхоз Щусева. Все это создает ансамбль целостности места.
                    svg: use(xlink:href="../../assets/sprites.svg#quote-2")
                    span.quote__autor ОЛЕГ КЛОДТ   /   АРХИТЕКТУРНОЕ БЮРО ОЛЕГА КЛОДТА
            .location__main
                .location__advs
                    .location__elem
                        svg.icon-location-1: use(xlink:href="../../assets/sprites.svg#location-1")
                        .location__content
                            h4.location__subtitle.subtitle 2,4 км до Кремля
                    .location__elem
                        img(src="../assets/images/icons-1/loc-2.png")
                        .location__content
                            h4.location__subtitle.subtitle 10 минут
                            p от центрального рынка <br> с ресторанами и свежими продуктами
                    .location__elem
                        img(src="../assets/images/icons-1/loc-3.png")
                        .location__content
                            p В шаговой доступности Чистые пруды, <br> Цветной и Сретенский бульвары, <br> Сад «Аптекарский город»
                    button.location__btn.btn-white Перейти по карте <span><i></i></span>
                .location__img
                    span.location__circle: span RED7
                    picture
                        source(srcset="../assets/images/webp/big-pin.webp" type="image/webp")
                        img(src="../assets/images/big-pin.png")