mixin banner()
    section.banner
        .banner__wrap
            .banner__content 
                h1.banner__title.title-1 Роскошная жизнь <br> в доме на Садовом
                h3.banner__subtitle От 400 000 руб. м. кв.
                button.banner__btn.btn-big Записаться на просмотр
            //- .banner__scroll
            //-     span скрольте
            //-     img(src="./assets/images/scroll.svg")
        .banner__slider
            picture.banner__slide
                source(srcset="./assets/images/1.webp" type="image/webp")
                img(src="./assets/images/1.jpg"  alt="banner-img")
            picture.banner__slide
                source(srcset="./assets/images/2.webp" type="image/webp")
                img(src="./assets/images/2.jpg" alt="banner-img")